.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.f-info-socials, .f-info-links, .f-copy {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

/* cards */
.card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body {
    padding: 0 !important;
}
.listing-link {
    text-decoration: none;
}
.card-img-overlay {
    opacity: 0 !important;
}
.card-img-overlay:hover {
    opacity: 0.2 !important;
    background-color: white;
}

.btn-save {
    background-color: #fe424d !important;
    border: none !important;
}

/* show-page-image */
.show-img {
    height: 30vh;
}

.both-btn {
    display: flex;
    justify-content: space-between;
}

.review-card-border {
    border: 1px solid #222222 !important;
    padding: 1rem;
    border-color: #fe424d !important;
}